html, body {
    height: 100%;
}

.main-container {
    height: 100%;
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 650px;
    width: 450px;
    border: 12px solid dimgray;
    border-radius: 8%;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 10;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 18;
}

.right-container div {
    display: flex;
    flex: 0;
}

#equals {
    flex: 1;
    height: 150px;
    font-size: 30px;
    padding: 14px;
    border-radius: 8%;
    width: 75px;
}

.right-container > .button {
    margin-left: 2px;
    border: 2px solid white;
    border-radius: 10%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    /* border: 2px solid gray; */
    border-radius: 8%;
    margin: 14px 14px 14px 13px;
    gap: 10px;
    padding: 2px;
}

.buttons div {
    /* border: 2px solid white; */
    border-radius: 10%;
    /*flex: 1;*/
    /*min-height: 100px;*/
    /*min-width: 100px*/
}

div button {
    font-size: 30px;
    padding: 14px;
    border-radius: 8%;
    width: 75px;
    height: 75px;
}

.input {
    border: 2px solid gray;
    border-radius: 10%;
    display: flex;
    flex: 1;
    margin: 14px;
    gap: 10px;
    padding: 2px;
}

#one {
    margin-left: 1px;
    margin-right: 2px;
}

#two {
    margin-right: 3px;
}